.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #222;
  color: white;
  padding: 10px 0;
  font-weight: bold;
}

.footer div {
  cursor: pointer;
}
