.reserva {
  text-align: center;
  margin: 40px 0;
}

.reserva button {
  background-color: #ff4d4d;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reserva button:hover {
  background-color: #e03e3e;
}
.reserva button:active {
  background-color: #c32f2f;
}